# build
/target
*.spv

# operating system
.DS_Store

# IDE
.idea
.vs_code

# Nsignt
*.ngfx-proj
*.ngfx-gputrace
*.ngfx-gputrace.layout

# temp configuration
imgui.ini

# drawio
*.drawio.bkp
*.drawio.dtmp

# generated
shader/generated/*
